*{
    padding: 0px;
    margin: 0px;
}


.main{
    height: 100%;
    width: 100%;
    margin: 100px;
    
}
button{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    color: aliceblue;
    border-style: none;
}

