*{
    margin: 0;
    padding: 0;
    background-color: pink;

}
h1{
    background-color: rgb(25, 2, 48);
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    
}
.chioces{
    
}
.choice{
height: 200px;
width: 200px;
border-radius: 50%;
display: flex;
justify-content: center;
background-color: beige;
}
.choice:hover{
    opacity: 0.5;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    background-color: antiquewhite;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top:5rem ;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}
#user-score,#comp-score{
    font-size: 4rem;

}
.msg{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: x-large;
    background-color: black;
    color: azure;
    height: 5rem;
    
}


