*{
    margin:0px;
    padding: 0px;

}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(3, 3, 37);
}
.card{
    width: 90%;
    max-width: 470px;
    background:rgb(89, 28, 89);
    color: white;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    color: aquamarine;
    padding: 10px 25px;
     border-radius: 20px;
     width: 70%;
     height: 40%;
}
.search button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.weather-icon {
   
   width: 170px;
   height: 50px;
}
.weather h1{
    font-size: 50px;
    font-weight: 300;
}
.weather h2{
    font-size: 50px;
    font-weight: 300;

}
#hum{
    width: 170px;
    height: 50px;
}
#wind{
    width: 170px;
    height: 50px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 50px;
}